@model List<WebApplicationEjemplo.Models.Alumno>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado de productos</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nota</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var p in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@p.Id</td>
                <td>@p.Nombre</td>
                <td>@p.Nota</td>
                    <td> <a href="@Url.Action("Editar", "Alumnos", new { id = @p.Id })" class="btn btn-primary">Editar</a></td>
            </tr>
        }
    </tbody>
</table>